* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {

  background-color: rgb(28, 124, 65);
  font-size: 18px;
  color: white;
  margin: 1rem 1rem;
  padding: .6rem .6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}